/*  your css code here. If applicable */
nav{
  display:flex;
  justify-content:space-between;
  width:100%;
  background-color:#6e072d;
  color:white;
  font-size:18px;
}

ul{
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
}

li{
  padding:18px 27px;
  margin:0;
  border-right:2px solid white;
  cursor:pointer;
}

li:hover{
  background-color:#b90e4d;
}

.pricing{
  border-right:none;
}

.team{
  border-left:none;
}